.item{
   padding: 10px;
   width: 100%;
   font-size: 0.95rem;

   
}

@media (width < 700px) {
    .cont{
        display: grid;
        grid-template-columns: 1fr;
    }    
  }

@media (700px < width) {
    .cont{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }    
  }

  @media (width > 900px) {
    .cont{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }    
  }


